<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head th:replace="fragments/header :: header">

</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron">
        <form th:object="${form}" method="post">
            <div class="form-group">
                <label for="boardTitle">Title</label>
                <input type="text" th:field="*{title}" class="form-control" id="boardTitle">
            </div>

            <div class="form-group">
                <label for="boardContent">Content</label>
                <textarea th:field="*{content}" class="form-control" id="boardContent" rows="10"></textarea>
            </div>

            <button class="btn btn-primary" type="submit">수정</button>
        </form>






    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
<!--container-->


</body>


</html>